*, *::before, *::after
{
  box-sizing: border-box;
}

html
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

html, body
{
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

main
{
	margin: 0.5em;
}

form
{
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

textarea
{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0.5em;
	border: none;
	resize: none;
}

footer
{
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0em 1em;
	background-color: rgba(255,255,255,0.5);
}

a, a:visited, a:active
{
	display: block;
	color: inherit;
	padding: 0.5em;
}