*, *::before, *::after
{
  box-sizing: border-box;
}

html
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

html, body
{
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0.5em;
}

form
{
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

textarea
{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	resize: none;
}

footer
{
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0.5em;
}